{{> top }}
{{> header }}
{{> nav }}
<div class="row marketing">
    <div class="col-lg-10 col-lg-offset-1">

            <div class="panel" style="padding-left:16%;">
                <div style="padding-left:5%;">
                    <h2>系统消息</h2>
                    <a class="btn btn-primary" onclick="window.location.href='/blog/messages/readall?sign={{ sign }}';">全部已读</a>
                </div>
                <div class="panel-body">
                        <ul>
                        {{#each msgs}}
                        <li>
                            <dt {{#if readed}}class="readed"{{else}}class="unread"{{/if}}>{{ title }}&nbsp;-&nbsp;{{ createdAt }}</dt>
                            <dd class="text-content"><p class="lead">{{ content }}</p></dd>
                        </li>
                        {{/each}}
                    </ul>
                    {{{ pager }}}
                </div>
            </div>
    </div>
</div>
{{> footer }}
{{> bottom }}
