{{> top }} {{> header }} {{> nav }}
<div class="row marketing">
    <div>
        <h2>文章详情</h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 panel">
        <div class="panel">
            <div class="panel-title">
                <h2 class="post-title">{{ post.title }}</h2>
                <div>
                    <h5>作者:{{ author.name }}&nbsp;-&nbsp;{{ post.createdAt }}</h5>
                </div>
            </div>
            <div class="panel-body">
                <p id="markdownontent"> {{{ post.content }}} </p>
            </div>
            <div class="panel-footer">
                <form method="post" action="/blog/comments/create">
                    <div class="form-group">
                        <input type="hidden" name="post_id" value="{{ post.ID }}"/>
                        <textarea name="content" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <span class="error">{{ message }}</span>
                        <select name="mention_user_id">
                            <option value="0">回复作者</option>
                            {{#each commentator}}
                            <option value="{{ . }}">回复:&nbsp;{{ getUserName(.) }}</option>
                            {{/each}}
                        </select>
                        <input type="submit" class="btn-primary" value="评论"/>
                    </div>
                </form>

                {{#each comments}}
                <div class="well">
                    <div class="commentator-name">
                        <span style="margin-right:5px;"><img width="24" height="24"
                                                             src="{{ getUserAvatarURL(authorID) }}"/></span>
                        <b>{{ getUserName(authorID) }}:</b>
                    </div>
                    <div class="comment-item" commentID="{{ ID }}">
                        <label class="comment-label">
                            <a href="javascript:void(0);">{{{ content }}}</a>
                            <i class="label-arrow label-arrow-l"></i>
                        </label>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/markdown.js"></script>
<script>
    function View(content) {
        text = content.innerHTML
        text = text.replace(/\&gt\;/g, ">")
        content.innerHTML = markdown.toHTML(text);
    }

    var $ = function (id) {
        return document.getElementById(id);
    };
    View($("markdownontent"));
</script>
{{> footer }} {{> bottom }}
