{{> top }} {{> header }} {{> nav }}
<div class="row marketing">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row row-width float-left">
            <div class="col-lg-10 col-lg-offset-1 post-list">
                <dl class="dl">
                    {{#each posts}}
                    <dt><a href="/blog/posts/update/{{ ID }}" class="post-title">{{ title }}</a></dt>
                    <dd>{{ createdAt }}</dd>
                    <br/>
                    {{/each}}
                    <dt>{{{ pagerContent }}}</dt>
                </dl>
                {{{ pagerContent }}}
            </div>
        </div>
    </div>
</div>
{{> footer }} {{> bottom }}