{{> top }} {{> header }} {{> nav }}
<div class="row marketing">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row row-width float-left panel">
            <div class="col-lg-10 col-lg-offset-1 post-list panel-body">
                <dl class="dl">
                    {{#each posts}}
                    <dt><a href="/blog/posts/{{ ID }}" class="post-title">{{ title }}</a></dt>
                    <dd><a href="/blog/posts/update/{{ ID }}">修改</a>&nbsp;-&nbsp;{{ createdAt }}</dd>
                    <br/>
                    {{/each}}
                    <dt>{{{ pagerContent }}}</dt>
                </dl>
                {{{ pagerContent }}}
            </div>
        </div>
    </div>
</div>
{{> footer }} {{> bottom }}
