{{> top }} {{> header }} {{> nav }}
<div class="row marketing">
    <div class="col-lg-10 col-lg-offset-1 panel">
        <div class="panel-title clearfix">
            <h2>搜索结果</h2>
        </div>
        <span class="error">{{ message }}</span>
        <input type="search" class="search" placeholder="输入关键字" id="searchPost" value="{{ keyword }}"/>
        <button onclick="search()" class="btn btn-search">搜索</button>
        <div class="row row-width float-left panel-body">
            <div class="col-lg-6 float-left post-list">
                <dl class="dl">
                    {{#each posts}}
                    <dt><a href="/blog/posts/{{ ID }}" class="post-title">{{ title }}</a></dt>
                    <dd>{{ createdAt }} - {{ getUserName(authorID) }}</dd>
                    <br/> {{/each}}
                </dl>
            </div>
            <div class="col-lg-4 float-left ranks">
                <h4>今日活跃排行榜</h4>
                <ol>
                    {{#each hotAuthors}}
                    <li><a href="#" uid="{{ ID }}">{{ name }}</a></li>
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function search() {
        i = document.getElementById("searchPost")
        if (i.value != "") {
            window.location.href = '/blog/posts/search?keyword=' + i.value;
        }
    }
</script>
{{> footer }} {{> bottom }}
